*{
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
.navbar-brand{
	font-size:2em;
}
.breadcrumb, .pagination {
    border-radius: 0;
}
p, .justify{
	text-align:justify;
}